{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="{% static 'base.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>
<body>

<h1>Categorical Coding Test</h1>

<div id="warnings"></div>

<div id="web-content">
  <div class="row" ng-app="store">

    <div class="col-md-3">
      <main-categories></main-categories>
    </div>

    <div class="col-md-9">
      <item-list><item-list/>
    </div>
  </div>
</div>


<!-- JQuery -->
<script src="{% static 'jquery.js' %}"></script>
<!-- BootStrap -->
<script src="{% static 'bootstrap.js' %}"></script>
<!-- Angular -->
<script src="{% static 'angular.js' %}"></script>
<!-- JS entry point -->
<script src="{% static 'base.js' %}"></script>
<!-- Ensure previous dependencies have been loaded -->
<script src="{% static 'dependencies.js' %}"></script>

</body>
</html>
