{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>

<h1>Categorical Coding Test</h1>

<p>
    Please see the <a href="https://bitbucket.org/patchstack/coding_test_categorical">README</a> for more info.
</p>

<div id="js-tester">

</div>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!-- Angular -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<!-- JS entry point -->
<script src="{% static 'base.js' %}"></script>

</body>
</html>