#login-form-container {
    padding: 15px 0;
}

#login-form {
    margin: 0 auto;
    max-width: 200px;
    text-align: center;
}

#login-form label, #login-form input {
    margin: 12px 0;
    width: 90%;
}

.action-btn {
    border-radius: 4px;
    background-color: rgb(28, 132, 193);
    height: 42px;
    color: white;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    border: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
}